#leftBox {
    float: left;
    width: 250px;
    height: 250px;
    margin: 5px;
    border: 3px solid purple;
}

#rightBox {
    float: left;
    width: 250px;
    height: 250px;
    margin: 5px;
    border: 3px solid yellow;
}

#roses {
    max-height: 100px;
}




canvas.clearRect(0, 0, 600, 600);
var xPos = e.clientX;
var yPos = e.clientY;
canvas.fillRect(xPos, yPos, 100, 100);