#parent {
    border: 2px solid blue;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    width: 700px;
    height: 300px;
    -webkit-box-align: center;
}

#kid1 {
    border: 2px solid red;
    background: gainsboro;
    padding: 20px;
    margin: 10px;
    height: 100px;
    width: 60px;
    -webkit-box-ordinal-group: 3;
    -webkit-box-flex: 1;

}

#kid2 {
    border: 2px solid red;
    background: grey;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 1;
    -webkit-box-flex: 1;
}

#kid3 {
    border: 2px solid red;
    background: tan;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 3;
    -webkit-box-flex: 1;
}

#kid4 {
    border: 2px solid red;
    background: white;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 4;
    -webkit-box-flex: 1;
}













function mouse ()
{
    var x = document.getElementById("canvas");
    canvas = x.getContext("2d");


    var pic = new Image();
    pic.src = "https://www.petinfoclub.com/Images/Albiventris%20shutterstock_65206192.jpg";


pic.addEventListener("load", function() { canvas.drawImage(pic, 0, 0)}, false);

window.addEventListener("mousemove", icon, false);
}

function icon(e) {
    canvas.clearRect(0, 0, 600, 600);
    var xPos = e.clientX;
    var yPos = e.clientY;
    canvas.fillRect(xPos, yPos, 100, 100);
}

window.addEventListener("load", mouse, false);
window.addEventListener("load", text, false);







